.example-container {
    background-color: #f2f2f2;
    padding: 12px;
    margin-bottom: 12px;
    position: relative;

}

.example-container button {
    position: absolute;
    top: 0;
    right: 0;

}

.mat-mdc-dialog-content {
    padding: 12px;
    margin-bottom: 12px;
}

.mat-mdc-form-field {
    width: 100%;
}

.mat-success {
    background-color: green;
    color: #fff;
    width: 150px;
    margin-left: 100px;
}

.mat-warn {
    width: 150px;
}


.mat-dialog {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 20px;
}


.add-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}