<div class="form-container">
    <form [formGroup]="modalForm" (ngSubmit)="addPhrasalVerb()">
        <h1 mat-dialog-title>{{ inputData.title }}</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Headword</mat-label>
                <input formControlName="headword" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Definition</mat-label>
                <input formControlName="definition" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Level</mat-label>
                <input formControlName="level" matInput>
            </mat-form-field>
            <!-- Itera sobre el `FormArray` para los ejemplos -->
            <div formArrayName="examples">
                <div *ngFor="let exampleControl of examplesArray.controls; let i = index">
                    <mat-form-field>
                        <mat-label>Example {{i + 1}}</mat-label>
                        <input [formControl]="exampleControl" matInput>
                        <button mat-icon-button matSuffix (click)="removeExample(i)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <!-- Botón para agregar un nuevo ejemplo -->
                <button type="button" mat-raised-button color="primary" (click)="addExample()">
                    Add Example
                </button>
            </div>
        </div>
        <div mat-dialog-actions>
            <button type="submit" color="success" mat-raised-button>Save</button>
            <button type="button" color="warn" mat-raised-button (click)="closeModalForm()">Cancel</button>
        </div>
    </form>
</div>
