<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<mat-list *ngIf="phrasalVerb; else divLoading">
    <mat-list-item>
        <b>Headword: </b>{{phrasalVerb.headword}}
    </mat-list-item>
    <mat-list-item>
        <b>Definition: </b>{{phrasalVerb.definition}}
    </mat-list-item>
    <mat-list-item>
        <b>Level: </b>{{phrasalVerb.level}}
    </mat-list-item>
    <mat-list-item>
        <b>Examples: </b>
        <mat-list>
            <mat-list-item *ngFor="let example of phrasalVerb.examples">
                {{example}}
            </mat-list-item>
        </mat-list>
    </mat-list-item>
</mat-list>

<!-- Contenedor para los botones -->
<div class="buttons-container">
    <button mat-raised-button color="primary" (click)="updatePhrasalVerb()">Update</button>
    <button mat-raised-button color="warn" (click)="deletePhrasalVerb()">Delete</button>
</div>
