.buttons-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Alinea los botones a la izquierda */
    margin-left: 10px;
    /* Ajusta este valor para alinear el margen izquierdo */
    gap: 8px;
}

/* Estilo para el título "Examples" */
.examples-title {
    font-weight: bold;
    font-size: larger;
    margin-top: 8px;
    margin-left: 15px;
    /* Añade un margen superior para separar el título de otros elementos */
    margin-bottom: 5px;
}

/* Estilos para los elementos de ejemplo */
.example-item {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 18px;
}

/* Contenedor para el contenido del ejemplo */
.example-content {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

/* Estilo para el texto de los ejemplos */
.example-text {
    font-size: larger;
}

.example-translation {
    color: gray;
    margin-top: 4px;
}