<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<div *ngIf="phrasalVerb; else divLoading">
    <mat-list>
        <mat-list-item>
            <b>Headword: </b>{{ phrasalVerb.headword }}
        </mat-list-item>
        <mat-list-item>
            <b>Phonetics: </b>{{ phrasalVerb.phonetics }}
        </mat-list-item>
        <mat-list-item>
            <b>Definition: </b>{{ phrasalVerb.definition }}
        </mat-list-item>
        <mat-list-item>
            <b>Translation: </b>{{ phrasalVerb.definitionTranslation }}
        </mat-list-item>
        <mat-list-item>
            <b>Level: </b>{{ phrasalVerb.level }}
        </mat-list-item>
        <mat-list-item>
            <b>Guideword: </b>{{ phrasalVerb.guideword }}
        </mat-list-item>
        <mat-list-item>
            <b>Dialect: </b>{{ phrasalVerb.dialect }}
        </mat-list-item>
        <mat-list-item>
            <b>Register: </b>{{ phrasalVerb.register }}
        </mat-list-item>
        <!-- Estilo para el título "Examples" -->
        <div class="examples-title">
            <b>Examples:</b>
        </div>
        <!-- Itera sobre los ejemplos -->
        <div *ngFor="let example of phrasalVerb.examples" class="example-item">
            <mat-icon>chevron_right</mat-icon>
            <div class="example-content">
                <span class="example-text">{{ example.text }}</span>
                <p class="example-translation"><i>{{ example.translation }}</i></p>
            </div>
        </div>
    </mat-list>

    <!-- Contenedor para los botones -->
    <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="openUpdateModalForm()">Update</button>
        <button mat-raised-button color="warn" (click)="deletePhrasalVerb()">Delete</button>
    </div>
</div>
