<div class="form-container">
    <form [formGroup]="modalForm" (ngSubmit)="updatePhrasalVerb()">
        <h1 mat-dialog-title>Update</h1>
        <div class="mat-mdc-dialog-content">
            <mat-form-field>
                <mat-label>Headword</mat-label>
                <input formControlName="headword" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phonetics</mat-label>
                <input formControlName="phonetics" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Definition</mat-label>
                <input formControlName="definition" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Definition Translation</mat-label>
                <input formControlName="definitionTranslation" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Level</mat-label>
                <input formControlName="level" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Guideword</mat-label>
                <input formControlName="guideword" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Dialect</mat-label>
                <input formControlName="dialect" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Register</mat-label>
                <input formControlName="register" matInput>
            </mat-form-field>

            <!-- Itera sobre el FormArray para los ejemplos -->
            <div formArrayName="examples">
                <div *ngFor="let exampleGroup of examplesArray.controls; let i = index" [formGroupName]="i"
                    class="example-container">
                    <!-- Agregamos una clase example-container para el estilo del contenedor -->
                    <mat-form-field>
                        <mat-label>Example {{i + 1}} Text</mat-label>
                        <input formControlName="text" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Example {{i + 1}} Translation</mat-label>
                        <input formControlName="translation" matInput>
                    </mat-form-field>
                    <button type="button" mat-icon-button matSuffix (click)="removeExample(i)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </div>
            <div class="add-button-container">
                <button type="button" color="primary" mat-raised-button (click)="addExample()">
                    <mat-icon>add</mat-icon>
                    Add example
                </button>
            </div>
            <mat-divider></mat-divider>
            <div class="mat-dialog">
                <button type="submit" color="success" mat-raised-button>Save</button>
                <button type="button" color="warn" mat-raised-button (click)="closeModalForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>