.container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.search-field {
    margin-top: 10px;
    /* Empujar el campo de búsqueda a la izquierda */
}

.spacer {
    flex-grow: 1;
    /* Utilizar todo el espacio disponible */
}

.button-container {
    margin-left: 1rem;
    /* Margen a la izquierda del botón */
}

mat-card-title,
mat-card-subtitle,
mat-card-content p {
  display: -webkit-box; /* Necesario para usar line-clamp en navegadores basados en WebKit */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Número máximo de líneas de texto permitidas */
  overflow: hidden;
}






